<h4>Sign Up</h4>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="nickname">Nickname</label>
    <input type="text" id="nickname" formControlName="nickname" class="form-control"
           [ngClass]="{ 'is-invalid': formSubmitted && form.nickname.errors }" />
    <div *ngIf="formSubmitted && form.nickname.errors" class="invalid-feedback">
      <div *ngIf="form.nickname.errors.required">Nickname is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="email2">Email</label>
    <input type="email" id="email2" formControlName="email" class="form-control"
           [ngClass]="{ 'is-invalid': formSubmitted && form.email.errors }" email/>
    <div *ngIf="formSubmitted && form.email.errors" class="invalid-feedback">
      <div *ngIf="form.email.errors.required">Email is required</div>
      <div *ngIf="form.email.errors.email">Email must be a valid email address</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password2">Password</label>
    <input type="password" id="password2" formControlName="password" class="form-control"
           [ngClass]="{ 'is-invalid': formSubmitted && form.password.errors }" />
    <div *ngIf="formSubmitted && form.password.errors" class="invalid-feedback">
      <div *ngIf="form.password.errors.required">Password is required</div>
      <div *ngIf="form.password.errors.minlength">Password must contains at least 6 characters</div>
    </div>
  </div>
  <div class="form-group float-right">
    <button [disabled]="loading" class="btn btn-primary btn-sm">Sign Up</button>
  </div>
</form>
