<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-10">
        <span class="">{{room?.name}}</span>
      </div>
      <div class="col-sm-2">
        <span class="online badge badge-secondary float-right">{{room?.users?.length || 0 | number}}</span>
      </div>
    </div>
  </div>
  <div class="card-body conversation" #messagesWrapper>
    <div class="row" *ngFor="let message of room?.messages" >
      <div class="col-sm-12">
        <chat-message [chatMessage]="message"
                      [nickname]="activeUser.nickname"></chat-message>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <send-message [nickname]="activeUser.nickname" [roomId]="room.id"></send-message>
  </div>
</div>
