.card {
  margin-bottom: 10px;
}

.card-body {
  padding: 10px;
  background-color: rgba(0, 0, 0, .03)
}

.card.self .card-body {
  background-color: #d0ffd0 !important;
}

.msg-time {
  font-size: 10px;
  position: absolute;
  right: 3px;
  bottom: 3px;
  margin: 0 !important;
}
