<div class="row">
    <div class="col-sm-12">
        <a routerLink="/rooms" class="btn btn-link">Back to Rooms</a>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-8">
        <room-messages [room]="room" [activeUser]="activeUser"></room-messages>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-sm-12">
                <h6>Online users:</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <user-list [users]="room.users"></user-list>
            </div>
        </div>
    </div>
</div>

